<nav style="text-align: left">
  <button routerLink="/" md-button class="background-primary-color white-text">Home</button>
  <button routerLink="/houssem" md-button class="background-primary-color white-text">Houssem</button>
  <button routerLink="/damy" md-button class="background-primary-color white-text">Damy</button>
</nav>