
table{
    column-width:120px ;
    border: 2px solid black;
    border: black solid 2px;
    width: 100%;
} 
div{
    width: 100%;
} 
#head{ 
    background: black;
    width: 100%;
    text-align: center;
    color: rgb(3, 115, 16);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 30px;
    border: rgb(3, 115, 16) solid 1px;
        
}
 #body{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:0.8em;
    line-height: 30px;
    border: black solid 2px;
}

input{
    width: 50%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 100%;
    border: 2px solid black;
    border-radius: 12px;
}





