<!DOCTYPE html>
<html>

<head></head>

<body>
    <div>
        <app-navigation></app-navigation>
        <h2 style="text-align: center">Houssem</h2>

    </div>



    <div>
        <input type="text" [(colorPicker)]="color1" [style.background]="color1" [value]="color1" name="color1">
    </div>
    <div>
        <table border="true">

            <tr id="head">
                <th>Name</th>
                <th>Age</th>
                <th>Unicorns</th>
                <th>Phone Number</th>
                <th></th>

            </tr>

            <tr id="body" *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.unicorns}}</td>
                <td>{{user.tel}}</td>
                <app-user-line [userData]="user.name" (giveName)="parentRecieveEvent($event)">
                </app-user-line>

            </tr>

        </table>
        {{outPutName}}
    </div>
</body>

</html>