/* You can add global styles to this file, and also import other style files */
.primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }
.background-primary-color {
    color: rgb(236, 60, 60)!important;
    background: transparent;
    border:2px solid #0099cc;
    border-radius: 6px; 
    font-size: .8em;
    margin: 0.2em;
    max-width: 100%;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #0099cc!important;
}